{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h1>
                        <a href="{% url 'books_details' book.pub_date %}">{{ book.name }}</a>
                    </h1>
                    <h5><a>Автор</a> {{ book.author }}</h5>
                    <h5><a>Дата публикации</a> {{ book.pub_date }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


